# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [5]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [3]:
sinasc = sinasc_raw[['munResNome', 'IDADEMAE', 'IDADEPAI']]

In [4]:
#round(sinasc.groupby('munResNome')['IDADEMAE', 'IDADEPAI'].mean(), 2)
sinasc.groupby('munResNome').aggregate({'IDADEMAE' : 'mean', 'IDADEPAI': 'mean'})

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [11]:
sinasc_data = sinasc_raw[['DTNASC', 'PESO', 'ESCMAE','SEXO']]
sinasc_data.head()

       DTNASC  PESO           ESCMAE       SEXO
0  2019-02-19  3685      8 a 11 anos  Masculino
1  2019-02-21  3055      8 a 11 anos   Feminino
2  2019-02-25  3460      8 a 11 anos   Feminino
3  2019-03-20  2982  12 anos ou mais   Feminino
4  2019-03-23  3310      8 a 11 anos   Feminino

In [12]:
filtro = sinasc_data[sinasc_data['DTNASC'] == '2019-06-01']
filtro.groupby(['ESCMAE','SEXO'])['PESO'].mean()

ESCMAE           SEXO
1 a 3 anos       Feminino     3135.000000
                 Masculino    2830.000000
12 anos ou mais  Feminino     2895.714286
                 Masculino    3346.250000
4 a 7 anos       Feminino     3085.000000
                 Masculino    3646.000000
8 a 11 anos      Feminino     3051.619048
                 Masculino    3423.958333
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [20]:
sinasc_idade = sinasc_raw[['munResNome', 'IDADEMAE', 'IDADEPAI']]
sinasc_idade.head()

                munResNome  IDADEMAE  IDADEPAI
0    Alta Floresta D'Oeste        19      26.0
1    Alta Floresta D'Oeste        29      24.0
2    Alta Floresta D'Oeste        37      32.0
3  Alto Alegre dos Parecis        30      24.0
4    Alta Floresta D'Oeste        30      27.0

In [34]:
sinasc_idade.groupby('munResNome')['IDADEMAE'].count().sort_values()

munResNome
Município ignorado - RO         1
Castanheiras                   32
Pimenteiras do Oeste           40
Primavera de Rondônia          43
Parecis                        44
Rio Crespo                     50
São Felipe D'Oeste             54
Teixeirópolis                  64
Cacaulândia                    75
Cabixi                         80
Vale do Paraíso                81
Ministro Andreazza             84
Vale do Anari                  93
Theobroma                      97
Novo Horizonte do Oeste        98
Santa Luzia D'Oeste            99
Nova União                    104
Itapuã do Oeste               109
Governador Jorge Teixeira     112
Corumbiara                    127
Alto Alegre dos Parecis       154
Chupinguaia                   162
Mirante da Serra              164
Campo Novo de Rondônia        166
Seringueiras                  168
Urupá                         170
Monte Negro                   199
Cujubim                       205
Alvorada D'Oeste              205
Colorado do Oeste             214
Alto Paraíso                  226
Costa Marques                 233
Cerejeiras                    237
Nova Brasilândia D'Oeste      261
São Francisco do Guaporé      303
Presidente Médici             304
Candeias do Jamari            337
São Miguel do Guaporé         353
Alta Floresta D'Oeste         367
Nova Mamoré                   432
Espigão D'Oeste               450
Machadinho D'Oeste            500
Buritis                       583
Pimenta Bueno                 616
Ouro Preto do Oeste           631
Guajará-Mirim                 781
Jaru                          881
Rolim de Moura                927
Cacoal                       1374
Vilhena                      1590
Ariquemes                    1729
Ji-Paraná                    2182
Porto Velho                  8437
Name: IDADEMAE, dtype: int64

In [39]:
filtro_id = sinasc_idade[sinasc_idade['munResNome'] == 'Castanheiras']
filtro_id.groupby('munResNome').aggregate({'IDADEMAE' : [('mínimo', min),('média', 'mean'),('máxima', max)],
                                           'IDADEPAI' : [('mínimo', min),('média', 'mean'),('máxima', max)]})

             IDADEMAE                  IDADEPAI
               mínimo     média máxima   mínimo      média máxima
munResNome
Castanheiras       17  27.28125     39     17.0  30.392857   43.0

#### Castanheiras tiveram tanto com a idade minima e máxima das mães e dos pais, muito parecidas, a média vario em 3 anos.

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [50]:
sinasc_raw['DTNASC'] = pd.to_datetime(sinasc_raw['DTNASC'])
sinasc_raw['month']= sinasc_raw['DTNASC'].dt.month
sinasc_raw['month']

0         2
1         2
2         2
3         3
4         3
         ..
27023    12
27024    10
27025     8
27026    12
27027    12
Name: month, Length: 27028, dtype: int64

In [56]:
filtro_mar = sinasc_raw[sinasc_raw['month'] == 3]
filtro_mar.groupby('DTNASC').aggregate({'QTDFILVIVO' : [('média','mean'),('máxima',max),('mínima',min)]})

           QTDFILVIVO
                média máxima mínima
DTNASC
2019-03-01   1.034884    5.0    0.0
2019-03-02   1.314286    4.0    0.0
2019-03-03   0.955556    3.0    0.0
2019-03-04   1.083333    4.0    0.0
2019-03-05   1.397059    6.0    0.0
2019-03-06   1.080000    5.0    0.0
2019-03-07   1.000000    7.0    0.0
2019-03-08   1.147541    4.0    0.0
2019-03-09   1.145455    6.0    0.0
2019-03-10   0.960000    4.0    0.0
2019-03-11   1.096774    4.0    0.0
2019-03-12   0.933333    5.0    0.0
2019-03-13   0.911765    5.0    0.0
2019-03-14   1.243902    6.0    0.0
2019-03-15   1.058824    4.0    0.0
2019-03-16   1.125000    6.0    0.0
2019-03-17   1.123077    6.0    0.0
2019-03-18   1.163043    6.0    0.0
2019-03-19   0.960000    6.0    0.0
2019-03-20   1.083333    7.0    0.0
2019-03-21   1.047170    5.0    0.0
2019-03-22   1.064103    6.0    0.0
2019-03-23   1.240000    6.0    0.0
2019-03-24   0.921875    3.0    0.0
2019-03-25   1.042553    9.0    0.0
2019-03-26   1.285714    5.0    0.0
2019-03-27   1.404762    6.0    0.0
2019-03-28   0.966667    4.0    0.0
2019-03-29   1.076923    5.0    0.0
2019-03-30   1.301587    8.0    0.0
2019-03-31   0.666667    6.0    0.0

In [57]:
filtro_mar.groupby('DTNASC').aggregate({'IDADEPAI' : [('média','mean'),('máxima',max),('mínima',min)]})

             IDADEPAI
                média máxima mínima
DTNASC
2019-03-01  34.461538   60.0   16.0
2019-03-02  29.650000   38.0   17.0
2019-03-03  30.307692   45.0   18.0
2019-03-04  31.833333   50.0   17.0
2019-03-05  31.450000   40.0   22.0
2019-03-06  28.531250   44.0   19.0
2019-03-07  31.241379   52.0   20.0
2019-03-08  31.772727   44.0   21.0
2019-03-09  31.850000   50.0   17.0
2019-03-10  30.153846   41.0   20.0
2019-03-11  31.250000   42.0   21.0
2019-03-12  31.300000   43.0   22.0
2019-03-13  30.900000   42.0   19.0
2019-03-14  31.848485   52.0   20.0
2019-03-15  30.192308   44.0   20.0
2019-03-16  27.884615   39.0   18.0
2019-03-17  30.678571   48.0   17.0
2019-03-18  29.551724   51.0   19.0
2019-03-19  33.652174   56.0   25.0
2019-03-20  31.300000   55.0   20.0
2019-03-21  31.466667   49.0   19.0
2019-03-22  32.050000   46.0   20.0
2019-03-23  28.200000   35.0   18.0
2019-03-24  31.666667   55.0   23.0
2019-03-25  30.676471   49.0   18.0
2019-03-26  31.214286   40.0   21.0
2019-03-27  32.896552   62.0   17.0
2019-03-28  33.750000   47.0   17.0
2019-03-29  30.476190   40.0   21.0
2019-03-30  33.133333   56.0   20.0
2019-03-31  25.000000   34.0   19.0

#### Existe uma grande amplitude entre a idade máxima e mínima no mês de março, apenas o último dia que teve uma amplitude pequena (max = 34 & min = 19)

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [6]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [7]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,DTNASC,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
0,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-19,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
1,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-21,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-25,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
3,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,2019-03-20,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
4,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-03-23,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,2019-12-13,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
27024,8 a 11 anos,37 a 41 semanas,Única,Vaginal,2019-10-04,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
27025,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-08-02,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
27026,8 a 11 anos,32 a 36 semanas,Única,Vaginal,2019-12-23,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
27027,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-12-27,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [4]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')