# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [6]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia_terminca = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

temperatura_media_anomalia = pd.Series(anomalia_terminca)
temperatura_media_anomalia

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:

# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_terminca = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

temperatura_media_anomalia = pd.Series(anomalia_terminca, indice)
temperatura_media_anomalia

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperatura_media_dict = pd.Series(dic_temperaturas)
temperatura_media_dict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [28]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)
df

             0           1           2
0    90.093359  100.518485   99.358760
1   102.298965  104.940081  100.793065
2   108.696012  100.064564  108.755114
3    96.412966  103.823861   92.980034
4   100.168275  106.960792   92.459035
5   106.177419  106.092641   96.232205
6   107.204253  103.689656  105.750712
7   107.601668   89.172194  113.613107
8    99.241107   93.909041   92.798332
9   101.881450  105.612489  102.079614
10  109.693138  105.147614   97.939302
11  107.373175   99.192382  110.176730
12  107.376165  102.490322   87.220443
13  108.366487   90.401732   93.630967
14  100.202425  108.592065  114.639777
15  124.247310   88.311836   99.695078
16  105.179634  106.570514   94.786053
17  102.676516  113.593153  102.473296
18  109.264090  113.208510  101.186041
19  115.329162  112.463919  114.997626

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [32]:
#seu código aqui
lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
colunas = ['x1', 'x2', 'x3']

df = pd.DataFrame(arr, index = lista, columns = colunas)
df

            x1          x2          x3
1    90.093359  100.518485   99.358760
2   102.298965  104.940081  100.793065
3   108.696012  100.064564  108.755114
4    96.412966  103.823861   92.980034
5   100.168275  106.960792   92.459035
6   106.177419  106.092641   96.232205
7   107.204253  103.689656  105.750712
8   107.601668   89.172194  113.613107
9    99.241107   93.909041   92.798332
10  101.881450  105.612489  102.079614
11  109.693138  105.147614   97.939302
12  107.373175   99.192382  110.176730
13  107.376165  102.490322   87.220443
14  108.366487   90.401732   93.630967
15  100.202425  108.592065  114.639777
16  124.247310   88.311836   99.695078
17  105.179634  106.570514   94.786053
18  102.676516  113.593153  102.473296
19  109.264090  113.208510  101.186041
20  115.329162  112.463919  114.997626

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [35]:
# seu código aqui

df['Média'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       Média
1    90.093359  100.518485   99.358760   96.656868
2   102.298965  104.940081  100.793065  102.677370
3   108.696012  100.064564  108.755114  105.838563
4    96.412966  103.823861   92.980034   97.738954
5   100.168275  106.960792   92.459035   99.862701
6   106.177419  106.092641   96.232205  102.834088
7   107.204253  103.689656  105.750712  105.548207
8   107.601668   89.172194  113.613107  103.462323
9    99.241107   93.909041   92.798332   95.316160
10  101.881450  105.612489  102.079614  103.191184
11  109.693138  105.147614   97.939302  104.260018
12  107.373175   99.192382  110.176730  105.580763
13  107.376165  102.490322   87.220443   99.028977
14  108.366487   90.401732   93.630967   97.466395
15  100.202425  108.592065  114.639777  107.811422
16  124.247310   88.311836   99.695078  104.084741
17  105.179634  106.570514   94.786053  102.178734
18  102.676516  113.593153  102.473296  106.247655
19  109.264090  113.208510  101.186041  107.886214
20  115.329162  112.463919  114.997626  114.263569

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [36]:
# seu código aqui

df['log_med'] = np.log(df['Média'])
df

            x1          x2          x3       Média   log_med
1    90.093359  100.518485   99.358760   96.656868  4.571167
2   102.298965  104.940081  100.793065  102.677370  4.631592
3   108.696012  100.064564  108.755114  105.838563  4.661915
4    96.412966  103.823861   92.980034   97.738954  4.582300
5   100.168275  106.960792   92.459035   99.862701  4.603796
6   106.177419  106.092641   96.232205  102.834088  4.633117
7   107.204253  103.689656  105.750712  105.548207  4.659168
8   107.601668   89.172194  113.613107  103.462323  4.639208
9    99.241107   93.909041   92.798332   95.316160  4.557199
10  101.881450  105.612489  102.079614  103.191184  4.636583
11  109.693138  105.147614   97.939302  104.260018  4.646888
12  107.373175   99.192382  110.176730  105.580763  4.659476
13  107.376165  102.490322   87.220443   99.028977  4.595413
14  108.366487   90.401732   93.630967   97.466395  4.579508
15  100.202425  108.592065  114.639777  107.811422  4.680384
16  124.247310   88.311836   99.695078  104.084741  4.645205
17  105.179634  106.570514   94.786053  102.178734  4.626724
18  102.676516  113.593153  102.473296  106.247655  4.665773
19  109.264090  113.208510  101.186041  107.886214  4.681077
20  115.329162  112.463919  114.997626  114.263569  4.738508