# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [161]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_notas_padrao = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1, join='outer')
df_notas_padrao.columns = ['mat', 'por', 'geo', 'ing', 'his', 'fis', 'qui']
df_notas_padrao

    mat  por  geo  ing  his  fis  qui
0     6    7    7    3    1    8    3
1    19   10    0    0    0   11    8
2    14   16    0    5    7    4    4
3    10    7    3    4    0    0    8
4     7    2    2    7    0    9    3
..  ...  ...  ...  ...  ...  ...  ...
95    6    4    7    1    4    9    3
96    8    1    4    6    1    4    3
97   23    5    0    2    4    1    5
98    0   10    3    1    5   10   11
99   11   15    0    1    6    7    2

[100 rows x 7 columns]

In [120]:
# 1) Seu código aqui
# Matemática
df_mat_acertos = round((df_mat / 24) * 100, 2)
# Português
df_por_acertos = round((df_por / 18) * 100, 2)
# Geografia
df_geo_acertos = round((df_geo / 8) * 100, 2)
# Inglês
df_ing_acertos = round((df_ing / 8) * 100, 2)
# História
df_his_acertos = round((df_his / 8) * 100, 2)
# Física
df_fis_acertos = round((df_fis / 12) * 100, 2)
# Química
df_qui_acertos = round((df_qui / 12) * 100, 2)


df_notas = pd.concat([df_mat_acertos, df_por_acertos, df_geo_acertos, df_ing_acertos, df_his_acertos, df_fis_acertos, df_qui_acertos], axis=1, join='outer')
df_notas.columns = ['mat_perc', 'por_perc', 'geo_perc', 'ing_perc', 'his_perc', 'fis_perc', 'qui_perc']
df_notas

    mat_perc  por_perc  geo_perc  ing_perc  his_perc  fis_perc  qui_perc
0      25.00     38.89      87.5      37.5      12.5     66.67     25.00
1      79.17     55.56       0.0       0.0       0.0     91.67     66.67
2      58.33     88.89       0.0      62.5      87.5     33.33     33.33
3      41.67     38.89      37.5      50.0       0.0      0.00     66.67
4      29.17     11.11      25.0      87.5       0.0     75.00     25.00
..       ...       ...       ...       ...       ...       ...       ...
95     25.00     22.22      87.5      12.5      50.0     75.00     25.00
96     33.33      5.56      50.0      75.0      12.5     33.33     25.00
97     95.83     27.78       0.0      25.0      50.0      8.33     41.67
98      0.00     55.56      37.5      12.5      62.5     83.33     91.67
99     45.83     83.33       0.0      12.5      75.0     58.33     16.67

[100 rows x 7 columns]

In [123]:
# 2) Seu código aqui
df_total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
df_total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [135]:
# 3) Seu código aqui
df_percentual_total = (df_total_acertos / 100) * 100
df_percentual_total.columns = ['Percentual_de_Acertos(%)']
df_percentual_total

    Percentual_de_Acertos(%)
0                       35.0
1                       48.0
2                       50.0
3                       32.0
4                       30.0
..                       ...
95                      34.0
96                      27.0
97                      40.0
98                      40.0
99                      42.0

[100 rows x 1 columns]

In [6]:
# 4) Seu código aqui
aprovados = df_total_acertos['Qt_acertos'] > 45
df_aprovados = df_total_acertos[aprovados]
df_aprovados

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
20          53
24          50
27          50
31          54
35          48
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
72          50
77          53
78          66
81          55
88          50
89          63
93          56

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [173]:
# 1) seu código aqui 
zerado_mat = df_mat['Qt_acertos'] == 0
df_mat_zerados = df_mat[zerado_mat]

zerado_fis = df_fis['Qt_acertos'] == 0
df_fis_zerados = df_fis[zerado_fis]
            
zerado_qui = df_qui['Qt_acertos'] == 0
df_qui_zerados = df_qui[zerado_qui]

aluno_zerado = pd.concat([df_qui_zerados, df_fis_zerados, df_mat_zerados])
aluno_zerado

    Qt_acertos
10           0
14           0
20           0
26           0
27           0
33           0
74           0
89           0
92           0
3            0
6            0
12           0
26           0
35           0
49           0
56           0
65           0
66           0
72           0
73           0
84           0
25           0
94           0
98           0

In [74]:
# 2) seu código aqui 
total_alunos_zerados, _ = aluno_zerado.shape
total_alunos_zerados

24

In [176]:
#3) seu código aqui
desqualificados = df_notas_padrao.query('mat == 0 or fis== 0 or qui == 0') 
df_notas_padrao['media'] = round((df_notas_padrao.mat + df_notas_padrao.por + df_notas_padrao.geo + df_notas_padrao.ing + df_notas_padrao.his + df_notas_padrao.fis + df_notas_padrao.qui) / 7, 2)
df_notas_padrao['desqualificados'] = (df_notas_padrao['mat'] == 0) | (df_notas_padrao['fis'] == 0) | (df_notas_padrao['qui'] == 0)


filtro = df_notas_padrao['desqualificados'] == True
df_desqualificados = df_notas_padrao[filtro]

media_geo_desc = round(df_desqualificados['geo'].mean(), 2)
media_his_desc = round(df_desqualificados['his'].mean(), 2)


print(f'A média dos alunos desqualificados em Geografia é de {media_geo_desc} e em História é de {media_his_desc}')

A média dos alunos desqualificados em Geografia é de 3.22 e em História é de 3.43

In [177]:
#4) seu código aqui

filtro_passou = df_notas_padrao['desqualificados'] == False
df_qualificados = df_notas_padrao[filtro_passou]
df_qualificados

    mat  por  geo  ing  his  fis  qui  media  desqualificados
0     6    7    7    3    1    8    3   5.00            False
1    19   10    0    0    0   11    8   6.86            False
2    14   16    0    5    7    4    4   7.14            False
4     7    2    2    7    0    9    3   4.29            False
5    20    2    5    3    2    9    9   7.14            False
..  ...  ...  ...  ...  ...  ...  ...    ...              ...
93   12   16    5    5    6    6    6   8.00            False
95    6    4    7    1    4    9    3   4.86            False
96    8    1    4    6    1    4    3   3.86            False
97   23    5    0    2    4    1    5   5.71            False
99   11   15    0    1    6    7    2   6.00            False

[77 rows x 9 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [84]:
arquivo = 'https://d26692udehoye.cloudfront.net/SIPNI/COVID/uf/uf%3DAC/part-00000-2d846d7e-8b8b-4243-93ad-40b9d537ebec.c000.csv'

In [85]:
# 1) Sua solução aqui
vac_Acre = pd.read_csv(arquivo, sep=';')
vac_Acre_copy = vac_Acre[:20000].copy()
vac_Acre_copy.head(5)
vac_Acre_copy.info()

C:\Users\Caio\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 32 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   document_id                               20000 non-null  object
 1   paciente_id                               20000 non-null  object
 2   paciente_idade                            20000 non-null  int64
 3   paciente_dataNascimento                   20000 non-null  object
 4   paciente_enumSexoBiologico                20000 non-null  object
 5   paciente_racaCor_codigo                   20000 non-null  int64
 6   paciente_racaCor_valor                    20000 non-null  object
 7   paciente_endereco_coIbgeMunicipio         19879 non-null  object
 8   paciente_endereco_coPais                  19879 non-null  object
 9   paciente_endereco_nmMunicipio             19879 non-null  object
 10  paciente_endereco_nmPais                  19879 non-null  object
 11  paciente_endereco_uf                      19879 non-null  object
 12  paciente_endereco_cep                     17289 non-null  object
 13  paciente_nacionalidade_enumNacionalidade  19991 non-null  object
 14  estabelecimento_valor                     20000 non-null  int64
 15  estabelecimento_razaoSocial               20000 non-null  object
 16  estalecimento_noFantasia                  20000 non-null  object
 17  estabelecimento_municipio_codigo          20000 non-null  int64
 18  estabelecimento_municipio_nome            20000 non-null  object
 19  estabelecimento_uf                        20000 non-null  object
 20  vacina_grupoAtendimento_codigo            20000 non-null  int64
 21  vacina_grupoAtendimento_nome              20000 non-null  object
 22  vacina_categoria_codigo                   19829 non-null  float64
 23  vacina_categoria_nome                     19829 non-null  object
 24  vacina_lote                               20000 non-null  object
 25  vacina_fabricante_nome                    20000 non-null  object
 26  vacina_fabricante_referencia              19955 non-null  object
 27  vacina_dataAplicacao                      20000 non-null  object
 28  vacina_descricao_dose                     20000 non-null  object
 29  vacina_codigo                             20000 non-null  int64
 30  vacina_nome                               20000 non-null  object
 31  sistema_origem                            20000 non-null  object
dtypes: float64(1), int64(6), object(25)
memory usage: 4.9+ MB

In [86]:
vac_Acre_copy['vacina_nome'].unique()

array(['COVID-19 PFIZER - COMIRNATY',
       'COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD',
       'COVID-19 SINOVAC/BUTANTAN - CORONAVAC',
       'COVID-19 ASTRAZENECA - ChAdOx1-S',
       'COVID-19 JANSSEN - Ad26.COV2.S',
       'COVID-19 PEDIÁTRICA - PFIZER COMIRNATY'], dtype=object)

In [87]:
vac_Acre['vacina_nome'].nunique()

6

In [88]:
# 2) 
vac_Acre['paciente_id'].nunique()

333836

In [89]:
# 3) 
filtro = vac_Acre['vacina_descricao_dose'] == '1ª Dose'

vac_uma_dose = vac_Acre[filtro]
vac_uma_dose['paciente_id'].nunique()

201377

In [90]:
# 4) 
filtro_idade = vac_Acre['paciente_idade'] < 18

vac_idade = vac_Acre[filtro_idade]
vac_idade['paciente_id'].nunique()

43287

In [91]:
# 5)

vac_Acre['estalecimento_noFantasia'].nunique()

131

In [92]:
vac_Acre['estabelecimento_razaoSocial'].nunique()

46

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [97]:
# 1) 
menores = vac_Acre['paciente_idade'] < 18 
vac_Acre_menores = vac_Acre[menores]
vac_Acre_menores_copy = vac_Acre_menores.copy() 
vac_Acre_menores_copy.head(3)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
23,93f2fa4a-e3f3-420e-a5a8-51c51016ef94-i0b0,4f11f2dc698d2a1d930278f558f5dd09c6397b85b6f70d...,15,2006-01-31,M,4,AMARELA,120033.0,10.0,MANCIO LIMA,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/00394544000851,2021-11-30,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
42,45c161de-d385-4e78-ad67-7ffee03c0289-i0b0,f019151a33dc4d5004ef8ae9fc8c6be95b3e94aa1dadfb...,15,2005-10-28,F,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-31,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
75,99f77432-0bf8-47b9-bdef-8004cd82b8cf-i0b0,44a33bd5a4f5dabb87740fa4b2b869c2b476d72e37ccd1...,17,2003-08-31,M,3,PARDA,120042.0,10.0,RODRIGUES ALVES,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-07-31,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [105]:
# 2)
lista = vac_Acre_menores_copy.columns[:]
lista

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [108]:
# 3)
vac_Acre_menores_copy['vacina_categoria_nome'].nunique()

12

In [107]:
# 4)
lista = ['estabelecimento_valor', 'estabelecimento_razaoSocial', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf']
lista

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [112]:
# 5)
df_estabelecimento = vac_Acre_menores_copy.loc[:, 'estabelecimento_valor': 'estabelecimento_uf']
df_estabelecimento

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
23,2002272,PREFEITURA MUNICIPAL DE MANCIO LIMA,UNIDADE S FAMILIA DR CERQUEIRA,120033,MANCIO LIMA,AC
42,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
75,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
77,2002922,SECRETARIA MUNICIPAL DE SAUDE,U S F JOAO DE DEUS,120038,PLACIDO DE CASTRO,AC
93,2000059,PREFEITURA MUNICIPAL DE FEIJO,U S F MARIA ALICE,120030,FEIJO,AC
...,...,...,...,...,...,...
408813,2000954,PREFEITURA MUNICIPAL DE MANUEL URBANO,UNIDADE DE SAUDE INACIO RIBEIRO DA SILVA,120034,MANOEL URBANO,AC
408816,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
408836,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
408841,3797554,PREFEITURA MUNICIPAL DE ASSIS BRASIL,UNIDADE BASICA DE SAUDE ANTONIO ALVES CAVALCANTE,120005,ASSIS BRASIL,AC
408842,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC

In [113]:
# 6)
df_estabelecimento.drop_duplicates()
df_estabelecimento

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
23,2002272,PREFEITURA MUNICIPAL DE MANCIO LIMA,UNIDADE S FAMILIA DR CERQUEIRA,120033,MANCIO LIMA,AC
42,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
75,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
77,2002922,SECRETARIA MUNICIPAL DE SAUDE,U S F JOAO DE DEUS,120038,PLACIDO DE CASTRO,AC
93,2000059,PREFEITURA MUNICIPAL DE FEIJO,U S F MARIA ALICE,120030,FEIJO,AC
...,...,...,...,...,...,...
408813,2000954,PREFEITURA MUNICIPAL DE MANUEL URBANO,UNIDADE DE SAUDE INACIO RIBEIRO DA SILVA,120034,MANOEL URBANO,AC
408816,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
408836,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
408841,3797554,PREFEITURA MUNICIPAL DE ASSIS BRASIL,UNIDADE BASICA DE SAUDE ANTONIO ALVES CAVALCANTE,120005,ASSIS BRASIL,AC
408842,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC